@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

/* font-family: 'Cinzel', serif; */
/* font-family: 'Exo', sans-serif; */

@media (max-width: 767px) {

    /* bloco 7*/
    .bloco7 {
        background-color: #0C0807;
        padding: 50px 0px 40px 0px;
    }

    .bloco7 h1 {
        color: white;
        font-family: 'Cinzel', serif;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 1px;
        justify-content: center;
        text-align: center;
        font-weight: normal;
        padding: 0px 10px;
        background-color: #0C0807;
    }

    .bloco7 p {
        color: #f2f2f2;
        margin-bottom: 40px;
        margin-top: 5px;
        padding: 0px 20px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .duvidas {
        width: 85%;
        margin: 0 auto;
    }

    .pergunta {
        transition: 0.2s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: #181719;
        text-align: left;
        letter-spacing: 1px;
        font-size: 18px;
        line-height: 23px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 1px solid #181719;
        width: calc(100% - 20px);
        padding: 15px 10px;
    }

    .pergunta i {
        margin: 0px 15px 0px 0px;
        border: 1px solid #181719;
        color: #181719;
        padding: 5px;
        font-weight: normal;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.2s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 1px solid #181719;
        border-right: 1px solid #181719;
        border-bottom: 1px solid #181719;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: black;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Exo', sans-serif;
        line-height: 20px;
    }

    /* bloco 7*/

}

@media (min-width: 768px) {

    /* bloco 7*/
    .bloco7 {
        background-color: #181719;
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .bloco7 h1 {
        color: white;
        margin-top: -10px;
        margin-bottom: -10px;
        font-family: 'Cinzel', serif;
        font-size: 35px;
        letter-spacing: 0px;
        justify-content: center;
        text-align: center;
        font-weight: normal;
        width: 100%;
        background-color: #181719;
    }

    .bloco7 p {
        color: #f2f2f2;
        margin-top: 10px;
        margin-bottom: 100px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .duvidas {
        width: 80%;
        margin: 0 auto;
    }

    .pergunta {
        transition: 0.2s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: black;
        text-align: left;
        letter-spacing: 1px;
        font-size: 20px;
        line-height: 25px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #490315;
        width: calc(100% - 20px);
        padding: 20px 10px;
    }

    .pergunta i {
        margin: 0px 30px;
        border: 1px solid #490315;
        color: #490315;
        padding: 5px;
        font-weight: normal;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.2s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #490315;
        border-right: 2px solid #490315;
        border-bottom: 2px solid #490315;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #490315;
        box-sizing: border-box;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Exo', sans-serif;
        line-height: 22px;
    }

    /* bloco 7*/

}